# Querying the Census data API
### US Census data is available through their API, more information at https://www.census.gov/data/developers/data-sets.html
### This is most easily done through use of the CensusData python module 
- https://pypi.org/project/CensusData/

### This notebook performs two queries from the Census data and returns the results in a single .csv file.
### The two queries are:
- Median Income by County
- Gini Index by County

In [1]:
# Import modules
import pandas as pd
import censusdata
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### Gini Index for income inequality on the county level.
#### The Gini Index is a summary measure of income inequality. The Gini coefficient incorporates the detailed shares data into a single statistic, which summarizes the dispersion of income across the entire income distribution. The Gini coefficient ranges from 0, indicating perfect equality (where everyone receives an equal share), to 1, perfect inequality (where only one recipient or group of recipients receives all the income). The Gini is based on the difference between the Lorenz curve (the observed cumulative income distribution) and the notion of a perfectly equal income distribution. From https://www.census.gov/topics/income-poverty/income-inequality/about/metrics/gini-index.html
### First, we search for the variable in the Census Data that contains the Gini Index so that we can query the correct variable name.

In [2]:
# Print for confirmation
print(censusdata.search('acs5', 2017, 'label','gini index'))
# Save to variable as a list
find = censusdata.search('acs5', 2017, 'label','gini index')[0][0]
ginivar = []
ginivar.append(find)

[('B19083_001E', 'GINI INDEX OF INCOME INEQUALITY', 'Estimate!!Gini Index')]

### Retrieve the data

In [3]:
# Download the data after identifying the variable for median family income from ACS Shell Table
# Median Family Income by county 
median_family_income = ['B19113_001E']
median = censusdata.download('acs5',2017,geo=censusdata.censusgeo([('county', '*')]),var=median_family_income)
# Rename the Median Family Income column
median = median.rename(columns={'B19113_001E': 'median_income'})
# Create a Location Column from the index
median['Location'] = median.index
# Reset the index
median = median.reset_index(drop=True)
# Drop Puerto Rico
median = median[median['Location'].astype(str).str.contains("Puerto Rico:")==False]
# Arrange columns to more logical order
median = median[['Location','median_income']]
median.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3142 entries, 78 to 3219
Data columns (total 2 columns):
Location         3142 non-null object
median_income    3142 non-null int64
dtypes: int64(1), object(1)
memory usage: 73.6+ KB

In [4]:
median.to_csv('Median Income by County.csv',index=False)

In [5]:
median.describe()

       median_income
count    3142.000000
mean    61714.608848
std     15260.555544
min     22140.000000
25%     51634.750000
50%     59834.500000
75%     68977.250000
max    163203.000000

In [6]:
%%time
gini = censusdata.download('acs5',2017,geo=censusdata.censusgeo([('state', '*'),('county', '*')]),var=ginivar)
# Rename the Gini Index column
gini = gini.rename(columns={'B19083_001E': 'gini_index'})
# Create a Location Column from the index
gini['Location'] = gini.index
# Reset the index
gini = gini.reset_index(drop=True)
# Drop Puerto Rico
gini = gini[gini['Location'].astype(str).str.contains("Puerto Rico:")==False]
# Arrange columns to more logical order
gini = gini[['Location','gini_index']]
gini.head()

Wall time: 1.31 s

                                             Location  gini_index
78  Monroe County, Alabama: Summary level: 050, st...      0.5568
79  Lawrence County, Alabama: Summary level: 050, ...      0.4317
80  Lee County, Alabama: Summary level: 050, state...      0.5008
81  Marion County, Alabama: Summary level: 050, st...      0.4734
82  Pickens County, Alabama: Summary level: 050, s...      0.4840

In [7]:
df = pd.merge(median, gini, on='Location')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3142 entries, 0 to 3141
Data columns (total 3 columns):
Location         3142 non-null object
median_income    3142 non-null int64
gini_index       3142 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 98.2+ KB

In [8]:
# for safekeeping
df.to_csv('Median Income and Gini Index by US County.csv')

### Create a column for FIPS, which we will use to compare Flood Insurance Claims on the county level

In [9]:
# Set the Location variable as type string
df.Location = df.Location.astype(str)

# define a lambda expression to string slice out the state fips, and apply to the dataframe.
state_fips = lambda a: a[a.find('state:')+6:a.find('state:')+8]
df['state_fips'] = df['Location'].apply(state_fips)

# define a lambda expression to string slice out the county fips, and apply to the dataframe.
county_fips = lambda a: a[a.find('county:')+7:a.find('county:')+11]
df['county_fips'] = df['Location'].apply(county_fips)

# Combine the two strings for the state and county fips to a single fips. 
# We will keep as type string for now
df['fips'] = df.state_fips+df.county_fips
df.fips = df.fips.astype('int32')
df = df[['Location','median_income', 'gini_index','fips']]
df.to_csv('Location_MedianIncome_GiniIndex_Fips.csv',index=False)

In [10]:
df.head()

,Location,median_income,gini_index,fips
0,"Monroe County, Alabama: Summary level: 050, st...",41658,0.5568,1099
1,"Lawrence County, Alabama: Summary level: 050, ...",55358,0.4317,1079
2,"Lee County, Alabama: Summary level: 050, state...",65100,0.5008,1081
3,"Marion County, Alabama: Summary level: 050, st...",45959,0.4734,1093
4,"Pickens County, Alabama: Summary level: 050, s...",50732,0.4840,1107